@use 'theme';
@use 'sass:color';
@use 'spacing' as *;

.messages {
    + .messages {
        margin-top:$spacer*.5;
    }

    position: relative;
    padding: $spacer;
    word-wrap: break-word;
    border: 1px solid;
    border-width: 1px 1px 1px 0;
    border-radius: 2px;
    background: no-repeat 10px 17px;
    overflow-wrap: break-word;

    &.messages--status {
        color: color.mix(theme.$accentGreen, black, 30%);
        border-color: theme.$accentGreen;
        background-color: color.mix(theme.$accentGreen, white, 10%);
        
        box-shadow: -8px 0 0 theme.$accentGreen;
    }
    
    &.messages--info {
        color: color.mix(theme.$accentBlue, black, 30%);
        border-color: theme.$accentBlue;
        background-color: color.mix(theme.$accentBlue, white, 10%);
        
        box-shadow: -8px 0 0 theme.$accentBlue;
    }
    
    &.messages--warning {
        color: color.mix(theme.$accentOrange, black, 30%);
        border-color: theme.$accentOrange;
        background-color: color.mix(theme.$accentOrange, white, 10%);
        
        box-shadow: -8px 0 0 theme.$accentOrange;
    }
    
    &.messages--error {
        color: color.mix(theme.$accentRed, black, 30%);
        border-color: theme.$accentRed;
        background-color: color.mix(theme.$accentRed, white, 10%);
        
        box-shadow: -8px 0 0 theme.$accentRed;
    }

    &.messages-small {
        padding: $spacer*.5 $spacer*.5;
        margin-top: 0;
    }
}

