@use 'lib/_theme';

@use 'lib/reset';
@use 'lib/helpers';
@use 'lib/grid/main';
@use 'lib/spacing' as *;
@use 'lib/containers';
@use 'lib/buttons';
@use 'lib/forms';
@use 'lib/tooltips';
@use 'lib/layout';
@use 'lib/links';
@use 'lib/messages';
@use 'lib/badge';
@use 'lib/nav';
@use 'lib/showhides';
@use 'lib/tabs';
@use 'lib/tables';
@use 'lib/modal';
@use 'lib/typography';

@use 'fontawesome/scss/fontawesome';
@use 'fontawesome/scss/regular.scss';
@use 'fontawesome/scss/solid.scss';
@use 'heatcalendar.scss';
@use 'orderHistory.scss';
@use 'profile.scss';
@use 'pagination';

@use 'sass:color';

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: theme.$fontStack;
    font-feature-settings: "kern", "liga", "pnum";
    -webkit-font-smoothing: antialiased;
    color: theme.$bodyTextColor;
    line-height: 1.5rem;
    overflow-y: scroll;

    >* {
        width: 100%;
        flex-shrink: 1;
    }


}  

html {
    font-size: var(--font-size);
    scrollbar-gutter: stable;
}

li {
     list-style-type: none;
}

a, a:visited {
    color: var(--link-color);
}

/* global resize depending on breakpoint */
@media (max-width: theme.$largeSmartphone) {
    html {
        font-size: calc(var(--font-size) * .75);
    }
}

/* constrains logo svg to the size of the nav container */
#navlogo {
    height: 100%;
    
    svg {
        height: 2rem;
    }
}

/* resize header components depending on breakpoints */
@media (max-width: theme.$smallDesktop) {
    #navlogo {
        svg {
            height: 1.5rem;
        }
    }

    #navigation-row #navigation #navlinks li {
        font-size:1rem;
    }

    profile-menu i {
        transform: scale(.85)
    }
}

/* generic container, constrains content to a max-width and centers it */
.container {
    max-width: theme.$maxWidth;
    margin: 0 auto;
    box-sizing: border-box;

    @media(max-width: calc(theme.$maxWidth*1 + $spacer*2)) {
        width: 100%;
        max-width: unset;
        padding: 0 $spacer 0 $spacer;
    }
}

/* sizes the details/manage buttons on table rows */
table .table--row-button {
    padding: .5em 0;
}

/* default height for table rows */
table.table tr {
    height: 3.25rem;
}

table.accounts {
    td.activated {
        color: var(--green-accent-color);
        font-size: 1.5em;
    }
}

.new-account-modal {
    .modal {
        --modal-max-width: 600px !important;
    }
}

.no-records-found {
    font-size:1.5rem;
    padding:2rem !important;
}

new-account-form-manager {
    // hide it before it's placed in the modal container
    display: none;
    > div > div:not(:first-of-type) {
        margin-top: .5rem;
    }
}

.modal--shown new-account-form-manager {
    display: unset;
}

editable-text {
    &.editing {
        margin: calc(-.25rem - 1px);
    }

    [data-editable-id] {
        white-space: pre-wrap;
    }

    &.horizontal {
        display: flex;

        @media (max-width: (theme.$largeSmartphone)) {
            flex-direction: column;
        }

        >.edit-wrap {
            margin-bottom: 0;
            max-width: 400px;
        }

        .cancel {
            margin-right: .5em;
            padding-right: .5em;
            color: theme.$bodyTextColor;
            border-right: 1px solid var(--gray-color--300);
        }
    }

    >.edit-wrap {
        [data-editable-id] {
            border-bottom: 1px solid transparent;
            display: inline-block;
        }

        [contenteditable="plaintext-only"],
        [contenteditable="true"] {
            margin-left: 0;
            min-width: 100px;
            outline: none;
            background-color: color-mix(in srgb, var(--gray-color--300) 20%, #FFF 20%);
            border-left: 1px solid var(--gray-color--400);
            border-right: 1px solid var(--gray-color--400);
            border-top: 1px solid var(--gray-color--400);
            border-bottom: 2px solid var(--primary-color);
        }


        display: block;
        margin-bottom: 1em;
    }

    input {
        display: inline-block;
    }

    .buttons {
        white-space: normal;
    }

    &.editing [data-editable-id] {
        padding: .25rem;
        padding-right: 1em;
    }

    [data-editable-id] {
        padding-right: 1em;
    }

    &.editing .buttons {
        box-sizing: border-box;
      
        padding: .25rem .5rem .25rem .5rem;
        border-bottom: 2px solid var(--primary-color);
        border-right: 1px solid var(--gray-color--300);
        border-top: 1px solid var(--gray-color--300);
    }

    &:not(.editing) {
        #binding-name:empty {
            &::before {
                content: "Add a name...";
                //color: theme.$darkGrayColor;
            }
        }

        #binding-note:empty {
            &::before {
                content: "Add a note...";
                //color: theme.$darkGrayColor;
            }
        }
    }
}

account-access-manager {
    display: block;
    max-width: 500px;

    .accessmanager--edit,
    .accessmanager--cancel {
        margin-left: $spacer;
    }

    .accessmanager--add {
        margin-top: $spacer*.5;
        padding-top: $spacer*.5;
        display: flex;

        a {
            margin-left: $spacer*.5;
            white-space: nowrap;
        }
    }

    ul {
        list-style-type: none;

        li {
            display: flex;
            margin-top: $spacer*.5;

            .accessmanager--groupname {
                flex: 1;
            }

        }
    }
}

confirm-button {
    input {
        display: inline-block;
        width: auto;
    }
}

fade-on-load {
    transition: opacity 250ms ease-in-out 0s;
    opacity: 0;

    &.loaded {
        opacity: 1;
    }
}

#headline {
    margin-top: 3rem;

    @media (max-width: theme.$largeSmartphone) {
        margin-top: .5rem;
    }
}

.modal--header--custom {
    display: flex;
    gap: 1em;
    align-items: center;

    h3 {
        flex-grow: 1;
    }

    a {
        flex-shrink: 1;
    }
}

.modal--footer--custom {
    display: flex;
    gap: 1em;
    align-items: center;

    .modal--footer--left {
        flex-grow: 1;
    }
    .modal--footer--right {
        flex-shrink: 1;
        display: flex;
        flex-wrap: nowrap;
        gap: .5em;
    }
    .modal--footer--buttons {
        display: flex;
        width: 100%;

        

        .right {
            margin-left: auto;
        }
    }
}

form .helptext {
    margin-top: -.75rem;
    font-size: .9em;
    color: color-mix(in srgb, var(--body-text-color) 80%, #FFF 20%);
    margin-bottom: .5rem;
}

.activity-graph-headline {
    background-color: var(--neutral-cool-color--300);
    overflow-x: auto;
    display: flex;
    justify-content: center;
    min-height: 266px; /* magic number */

    > div {
        width: 100%;
        text-align: center;
    }
}

activity-graph {
    min-height: 170px;
    padding-bottom: $spacer*.5;
}

// Left-col layout spacing. Size of the columns is handled in the html
.layout--left {
    >div:first-of-type {
        @media (min-width: (theme.$tinyDesktop*1+1)) {
            padding-right: $spacer*1.5;
        }

        @media (max-width: theme.$tinyDesktop) {
            padding-bottom: $spacer*1.5;
        }
    }
}

// Adds a generic light horizontal line to an element
.divider {
    border-top: 1px solid var(--gray-color--300);
}

.divider-horizontal {
    //border-right: 1px solid theme.$lightGrayColor;
}

.background-lightgray {
    //background-color: color.mix(theme.$lightGrayColor, white, 50%);
}

.adjustable-hex {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
}

dl {
    &.indented-list {
        dt {
            font-weight: bold;


        }

        dd {
            margin-left: $spacer;
            margin-bottom: $spacer*.25;
        }
    }

    &.field-list {
        display: inline-grid;
        grid-template-columns: min-content auto;

        width: 100%;

        >dt {
            font-weight: bold;
            white-space: nowrap;
            padding: $spacer*.5 $spacer*1.5 $spacer*.5 0;
            min-width:130px;
            //border-bottom: 1px solid theme.$lightGrayColor;
        }

        >dd {
            overflow-wrap: anywhere;
            padding: $spacer*.5 0 $spacer*.5 $spacer*.5;
            //border-bottom: 1px solid theme.$lightGrayColor;
        }

        &.no-borders {

            dt,
            dd {
                border-bottom: none;
            }
        }

        >dt:last-of-type {
            border-bottom: none;
        }

        >dd:last-of-type {
            border-bottom: none;
        }
    }
}

code {
    font-family: monospace;
}

.width-auto {
    width: auto !important;
}

.markdown,
.EasyMDEContainer .editor-preview {
    pre {
        margin-bottom: $spacer;
    }

    li {
        margin-left: $spacer*1.5;
    }

    ul,
    ol {
        margin-bottom: $spacer;
    }

    ol li {
        list-style-type: decimal;
    }

    ul li {
        list-style-type: disc;
    }

    blockquote {
        //border-left: 5px solid theme.$lightGrayColor;
        padding-left: $spacer;
        color: color.mix(theme.$bodyTextColor, white, 70%);
        margin-bottom: $spacer;
    }

    hr {
        border: none;
        //border-top: 1px solid theme.$lightGrayColor;
        margin-top: $spacer;
        margin-bottom: $spacer;
    }

    strong,
    b {
        font-weight: bold;
    }

    em,
    i {
        font-style: italic;
    }
}

.search {
    display: flex;
    
    .input--icon {
        flex: 1;
    }

    .search--box {
        font-size: 1.25em;
        height: 100%;
    }
}

.dynamic-page-edit-row {
    position: sticky;
    bottom: -1px;
    padding: 1rem;
    background: #fff;
    border-top: 1px solid var(--gray-color--300);
    
    &.is-pinned {
        border: none;
        
        &::after {
            content: "";
            position: absolute;
            top: -.5rem;
            left: 0;
            right: 0;
            height: .5rem;
            z-index: -1; /* Places the pseudo-element behind the main box */
            
            /* The Gradient: Fades from right to left */
            background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0, 0, 0, .5) 100%);
            
        }
        

    }
}

#footer > div {
    align-items: center;

    a:not(.btn) {
        color: #fff;
        text-decoration: underline;
    }

    .btn--github {
        display: flex;
        align-items: center;

        svg {
            height: 1.5rem;
            margin-right: .5rem;
            fill: var(--btn-text-color);
        }
    }
}