# Deprecated, remove dind
image: docker:24.0.5

# Deprecated, remove dind
services:
  - name: docker:24.0.5-dind
    command: ["--tls=false", "--mtu=1440"]

include:
  # Run using default settings
  - template: Security/SAST.gitlab-ci.yml
    rules:
    # We don't need SAST findings as part of the automated vulnerability scanning
    - if: $SCHEDULED_SECURITY_SCAN == 'true' || $SCHEDULED_SECURITY_SCAN == '1'
      when: never
  # Run using default settings
  - template: Security/Dependency-Scanning.gitlab-ci.yml
  # Run only on tags
  - template: Security/Container-Scanning.gitlab-ci.yml
  # Run using default settings
  - template: Security/Secret-Detection.gitlab-ci.yml
  - local: '.gitlab-ci.helm.yml'

stages:
  - build
  - security
  - test  
  - package_helm
  - upload_helm
  
variables:
  # Use TLS https://docs.gitlab.com/ee/ci/docker/using_docker_build.html#tls-enabled
  DOCKER_HOST: tcp://localhost:2375
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
  IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
  CS_IMAGE: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
  CS_SEVERITY_THRESHOLD: High
  GIT_SUBMODULE_STRATEGY: recursive
  # Disable certain SAST modules that don't matter
  SAST_EXCLUDED_ANALYZERS: "flawfinder,nodejs-scan,phpcs-security-audit"
  GITLAB_ADVANCED_SAST_ENABLED: 'true'
  ADVANCED_SAST_PARTIAL_SCAN: 'differential'

build:
  stage: build
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:      
      - docker pull $IMAGE_TAG || true
      - scripts/build-image --tag ${CS_IMAGE} --tag ${IMAGE_TAG} --tag latest
      - docker push $CS_IMAGE
      - docker push $IMAGE_TAG
  rules:
    # Build when a new tag is committed
    - if: $CI_COMMIT_TAG && $CI_COMMIT_TAG =~ /^\d+\.\d+\..+/
      when: always

dependency_scanning:
  before_script:
    - apt update && apt install pkg-config libmariadb-dev -y

container_scanning:
  stage: test
  # If this is a scheduled job we need to scan the latest image, we don't build images for every
  # checkin and we can't be sure the last found tag is appropriate to scan
  before_script:
    - |
      if [ $SCHEDULED_SECURITY_SCAN == 'true' || $SCHEDULED_SECURITY_SCAN == '1' ]; then
        CS_IMAGE="$CI_REGISTRY_IMAGE:latest"
      fi 
  rules:
    # Scan if the build pipeline indicates they want a scan
    - if: $SCHEDULED_SECURITY_SCAN == 'true' || $SCHEDULED_SECURITY_SCAN == '1'
      when: always
    # Scan when a new tag is committed
    - if: $CI_COMMIT_TAG && $CI_COMMIT_TAG =~ /^\d+\.\d+\..+/
      when: always
