{% load certificat %}

<ul class="pagination justify-content-center flex-wrap mt-2 mb-4">
    {% if page.has_previous %}
    <li class="page-item"><a class="page-link" href="{% querystring page=page.previous_page_number %}{{ qs_extra }}">&laquo;</a></li>
    {% else %}
    <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% get_elided_page_range page.paginator page.number as page_range %}
    {% for i in page_range %}
    {% if page.number == i %}
    <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
    </li>
    {% else %}
    {% if i == page.paginator.ELLIPSIS %}
    <li class="page-item"><span class="page-link">{{ i }}</span></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="{% querystring page=i %}{{ qs_extra }}">{{ i }}</a></li>
    {% endif %}
    {% endif %}
    {% endfor %}
    {% if page.has_next %}
    <li class="page-item"><a class="page-link" href="{% querystring page=page.next_page_number %}{{ qs_extra }}">&raquo;</a></li>
    {% else %}
    <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
    {% endif %}
</ul>