{% extends "certificat/base.html" %}

{% block headline %}Manage ACME Accounts{% endblock %}

{% block body %}

<c-layouts.base>
    <form-modal 
        class="new-account-modal"
        trigger="#add-new-account"
        header="Create New Account"
        addButtonText="Create New Account"
        addButtonName="new-account"
        autoFocus="#id_name">
        <new-account-form-manager>
            <div>
                {% csrf_token %}
                {{ new_binding_form }}

                <label><input type="checkbox" required />I agree to the <a href="{% url 'TOS' %}" class="ml-1">terms of service</a></label>
            </div>
        </new-account-form-manager>
    </form-modal>
    
    <form action="." id="search_form" method="get">
        <div class="search mb-3">
            <div class="input--icon">
                <i class="fa fa-magnifying-glass icon"></i>
                <input type="text" autocomplete="off" autofocus value="{{ request.GET.filter }}" name="filter" placeholder="Search by name or description" class="search--box" />
            </div>
            <button class="btn btn--secondary search--button">Search</button>
            {% if request.GET.filter %}
                <a href="{% url 'ACCOUNTS' %}" class="btn btn--secondary btn--outline"><i class="fa-solid fa-xmark"></i></a>
            {% endif %}
            <a id="add-new-account" class="btn btn--primary search--button ml-3">
                Create New Account&nbsp;
                <i class="fa-solid fa-plus"></i>
            </a>
        </div>
    </form>

    <c-link-table name="accounts">
        <c-slot name="head">
            <div class="tr">
                <div class="th">Created</div>
                <div class="th">Access</div>                        
                <div class="th">Description</div>
                <div class="th">Activated</div>                        
                <div class="th"><!-- edit --></div>
            </div>
        </c-slot>
        <c-slot name="body">
            {% for binding in bindings.page %}
                <a class="link-row" href="{% url 'account' binding.id %}">
                    <div class="td shrink-cell">
                        {{ binding.created_at|date:"DATE_FORMAT" }}
                    </div>
                    <div class="td access">
                        {% for scope in binding.group_scopes.all %}
                            {{ scope.friendly_name }}{% if not forloop.last %}<br />{% endif %}
                        {% empty %}
                            <c-user :user="binding.creator" />
                        {% endfor %}
                    </div>
                    <div class="td description">
                        <b class="bold">{{ binding.name }}</b>
                        <p>{{ binding.note }}</p>
                    </div>
                    <div class="td activated shrink-cell centered">
                        {% if binding.bound_to %}
                        <i class="fa-solid fa-circle-check"></i>
                        {% endif %}
                    </div>
                    <div class="td edit large table--row-button shrink-cell" data-text="View">
                        <span class="fa-solid fa-chevron-right"></span>
                    </div>
                </a>
            {% empty %}
                <div class="tr"><div class='td' colspan="100%" class="centered no-records-found">No accounts found.</div></div>
            {% endfor %}
        </c-slot>
    </c-link-table>

    <div class="row mt-2 centered">
        <c-pagination :page="bindings.page" />
    </div>
</c-layouts.left-col>

{% endblock %}