{% extends "certificat/base.html" %}
{% load certificat %}

{% block headline %}View Issued Certificates{% endblock %}

{% block body %}

<div class="container mt-4">
    <form action="." id="search_form" method="get">
        <div class="search mb-3">
            <div class="input--icon">
                <i class="fa fa-magnifying-glass icon"></i>
                <input type="text" autocomplete="off" autofocus value="{{ request.GET.filter }}" name="filter" placeholder="Search by SAN, separated by ','. Surround each identifier in '/' to use regular expressions." class="search--box" />
            </div>
            <button class="btn btn-secondary search--button">Search</button>
            {% if request.GET.filter %}
                <a href="{% url 'CERTIFICATES' %}" class="btn btn-secondary-outline"><i class="fa-solid fa-xmark"></i></a>
            {% endif %}
        </div>
    </form>
    <c-table name="certificates">
        <c-slot name="head">
            <tr>
                <th>Created</th>
                <th>Expiration</th>                        
                <th>SANs</th>                        
                <th><!-- details --></th>
            </tr>
        </c-slot>
        <c-slot name="body">
            {% for cert in certificates.page %}
                <tr>
                    <td class="created_at">
                        {{ cert.created_at }}
                    </td>
                    <td class="expires">
                        {{ cert.metadata.not_valid_after|to_datetime }}
                    </td>
                    <td class="sans">
                        {{ cert.metadata.sans|join:", " }}
                    </td>
                    <td class="edit row-button">
                        <a class="btn btn-primary-outline btn-sm" href="{% url 'certificate' cert.id %}">Details
                            &nbsp;<span class="fa-solid fa-angle-right"></span></a>
                    </td>
                </tr>
            {% empty %}
                <tr><td colspan="100%">No certificates created yet.</td></tr>
            {% endfor %}
        </c-slot>
    </c-table>
    <div class="row mt-2 center-xs">
        <c-pagination :page="certificates.page" />
    </div>
       
</div>

{% endblock %}