{% extends "certificat/base.html" %}
{% load certificat %}

{% block headline %}View Issued Certificates{% endblock %}

{% block body %}

<div class="container mt-4">
    <form action="." id="search_form" method="get">
        <div class="search mb-3">
            <div class="input--icon">
                <i class="fa fa-magnifying-glass icon"></i>
                <input type="text" autocomplete="off" autofocus value="{{ request.GET.filter }}" name="filter" placeholder="Search by SAN, separated by ','. Surround each identifier in '/' to use regular expressions." class="search--box" />
            </div>
            <button class="btn btn--secondary search--button">Search</button>
            {% if request.GET.filter %}
                <a href="{% url 'CERTIFICATES' %}" class="btn btn--secondary btn--outline"><i class="fa-solid fa-xmark"></i></a>
            {% endif %}
        </div>
    </form>
    <c-link-table name="certificates">
        <c-slot name="head">
            <div class="tr">
                <div class="th">Created</div>
                <div class="th">Expiration</div>                        
                <div class="th">SANs</div>
                <div class="th"><!-- edit --></div>
            </div>
        </c-slot>
        <c-slot name="body">
            {% for cert in certificates.page %}
                <a class="link-row" href="{% url 'certificate' cert.id %}">
                    <div class="td shrink-cell">
                        {{ cert.created_at }}
                    </div>
                    <div class="td shrink-cell">
                        {{ cert.metadata.not_valid_after|to_datetime }}
                    </div>
                    <div class="td sans">
                        {{ cert.metadata.sans|join:", " }}
                    </div>
                    <div class="td edit table--row-button shrink-cell" data-text="View">
                        <span class="fa-solid fa-chevron-right"></span>
                    </div>
                </a>
            {% empty %}
                <div class="tr"><div class='td' colspan="100%" class="centered no-records-found">No certificates found.</div></div>
            {% endfor %}
        </c-slot>
    </c-link-table>
    <div class="row mt-2 center-xs">
        <c-pagination :page="certificates.page" />
    </div>
       
    <div id="pre-footer-spacer"></div>
</div>

{% endblock %}