{% extends "certificat/base.html" %}
{% load certificat %}

{% block headline %}Activity Dashboard{% endblock %}

{% block body %}

<div class="activity-graph-headline py-5">
    <div>
        <activity-graph url="{% url 'api:cert_activity' %}" noActivityColor="rgba(255,255,255,.075)"></activity-graph>
    </div>
</div>
<div class="container row mt-5">
    <div class="col-xl-6">
        <h4 class="icon"><i class="fa-solid fa-cart-shopping"></i>Recent Orders</h4>
        <c-link-table name="orders" centered>
            <c-slot name="body">
                {% for order in recent_orders %}
                    <a class="link-row" href="{% url 'order' order.id %}">
                        <div label="Created" class="td shrink-cell">
                            {{ order.created_at|date:"Y/m/d" }}
                        </div>
                        <div label="Status" class="td shrink-cell">
                            <c-status :status="order.status" />
                        </div>
                        <div label="Identifiers" class="td identifiers">
                            {{ order.identifiers.all.0.value }}
                            {% if order.identifiers.all.1 %}
                                (+{{ order.identifiers.all|slice:"1:"|length }} SANs)
                            {% endif %}
                        </div>
                        <div class="td edit table--row-button shrink-cell" data-text="View">
                            <span class="fa-solid fa-chevron-right"></span>
                        </div>
                    </a>
                {% empty %}
                    <div class="tr"><div class='td' colspan="100%" class="centered no-records-found">No recent orders.</div></div>
                {% endfor %}
            </c-slot>
        </c-link-table>
    </div>
    <div class="col-xl-6">
        <h4 class="icon"><i class="fa-solid fa-scroll"></i>Recent Certificates</h4>
        <c-link-table name="certificates" centered>
            <c-slot name="body">
                {% for cert in recent_certificates %}
                    <a class="link-row" href="{% url 'certificate' cert.id %}">
                        <div label="Created" class="td shrink-cell">
                            {{ cert.created_at|date:"Y/m/d" }}
                        </div>
                        <div label="SANs" class="td sans">
                            {{ cert.metadata.sans.0 }}
                            {% if cert.metadata.sans.1 %}
                                (+{{ cert.metadata.sans|slice:"1:"|length }} SANs)
                            {% endif %}
                        </div>
                        <div class="td edit table--row-button shrink-cell">
                            <span class="fa-solid fa-chevron-right"></span>
                        </div>
                    </a>
                {% empty %}
                    <div class="tr"><div class='td' colspan="100%" class="centered no-records-found">No certificates created yet.</div></div>
                {% endfor %}
            </c-slot>
        </c-link-table>
    </div>
</div>

<div id="pre-footer-spacer"></div>
{% endblock %}