{% extends "certificat/base.html" %}
{% load certificat %}

{% block headline %}Activity Dashboard{% endblock %}

{% block body %}

<div class="activity-graph-headline py-5">
    <div class="row center-lg">
        <activity-graph url="{% url 'api:cert_activity' %}" noActivityColor="#89939a" startActivityColor="#a6c45d" endActivityColor="#e6f7bc"></activity-graph>
    </div>
</div>
<div class="container mt-5">
    <div class="row m">
        <div class="col stat__block">
            <h4 class="icon"><i class="fa-solid fa-cart-shopping"></i>Recent Orders</h4>
            <c-table name="orders">
                <c-slot name="body">
                    {% for order in recent_orders %}
                        <tr>
                            <td label="Created" class="created_at">
                                {{ order.created_at|date:"Y/m/d" }}
                            </td>
                            <td label="Status" class="status">
                                <c-status :status="order.status" />
                            </td>
                            <td label="Identifiers" class="identifiers">
                                {{ order.identifiers.all.0.value }}
                                {% if order.identifiers.all.1 %}
                                    (+{{ order.identifiers.all|slice:"1:"|length }} SANs)
                                {% endif %}
                            </td>
                            <td class="edit row-button">
                                <a class="btn btn-primary-outline btn-sm" href="{% url 'order' order.id %}">Details
                                    &nbsp;<span class="fa-solid fa-angle-right"></span></a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="100%"><p style="text-align:center;">No recent orders.</p></td>
                        </tr>
                    {% endfor %}
                </c-slot>
            </c-table>
        </div>
        <div class="col stat__block">
            <h4 class="icon"><i class="fa-solid fa-scroll"></i>Recent Certificates</h4>
            <c-table name="certificates">
                <c-slot name="body">
                    {% for cert in recent_certificates %}
                        <tr>
                            <td label="Created" class="created_at">
                                {{ cert.created_at|date:"Y/m/d" }}
                            </td>
                            <td label="SANs" class="sans">
                                {{ cert.metadata.sans.0 }}
                                {% if cert.metadata.sans.1 %}
                                    (+{{ cert.metadata.sans|slice:"1:"|length }} SANs)
                                {% endif %}
                            </td>
                            <td class="edit row-button">
                                <a class="btn btn-primary-outline btn-sm" href="{% url 'certificate' cert.id %}">Details
                                    &nbsp;<span class="fa-solid fa-angle-right"></span></a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr><td colspan="100%">No certificates created yet.</td></tr>
                    {% endfor %}
                </c-slot>
            </c-table>
        </div>
    </div>
</div>
{% endblock %}